* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

#myBody.noscroll {
    overflow: hidden;
    height: 100vh;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header.active {
    background: rgba(0, 0, 0, 0.7);
}

header.main-header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

@media only screen and (max-width: 991px) {
    header.main-header {
        height: auto !important;
        padding: 10px 0;
    }
}
header.nav-fixed {
    padding: 0px;
    background-color: white;
    height: 80px !important;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    
}
@media only screen and (max-width: 991px){
    header.nav-fixed {
        height: auto !important;
        padding: 0px 0;
        
       
    }
    }


/* nav-Brand */

header .logo span {
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.5s;
}

header .logo i {
    font-size: 1.5rem;
    color: #009f4d;
}

header .logo .title__logo {
    font-size: 0.9rem;
    display: block;
    font-weight: 400;
    padding-left: 2.5rem;
    margin-top: -10px;
    font-weight: 600;
}

.nav-fixed .logo span {
    color: #3f3a64;
}
.dark .nav-fixed .logo span {
    color: #eee;
}

.dark header.nav-fixed {
    background-color: #151421;
}


/* navbar-toggler*/

.navbar {
    padding: 0;
}

.navbar-dark .navbar-toggler {

    background-color: #009f4d;
    border-color: rgba(255, 255, 255, .1);
}

.navbar-toggler {
    padding: 5px;
}

.navbar-toggler i {
    display: inline-block;
    background-size: 25px;
    width: 1em;
    height: 1em;
    color: #fff !important;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block !important;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

@media only screen and (max-width: 991px) {
    .header__search {
        position: absolute;
        right: 65px;
        top: 10px;

    }

    .header__dark {
        position: absolute;
        right: 44px;
        top: 25px;

    }
}

.nav-fixed .navbar-expand-md span {
    color: #3f3a64;
}

.navbar-collapse {
    justify-content: space-between;
    text-transform: uppercase;
}

.navbar-collapse .navbar-nav {
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }

    .navbar-collapse {
        overflow-y: scroll;
    }
}

.navbar-collapse .nav-link {
    font-weight: 600;
    color: white !important;
    opacity: 0.7;
    transition: all 0.5s;
}

.navbar-collapse .nav-link.active {
    color: white !important;
    opacity: 1;
}

.navbar-collapse .nav-link:hover {
    color: white !important;
    opacity: 1;
}

.nav-fixed .navbar-collapse .nav-link {
    color: #3f3a64 !important;
    opacity: 0.7;
}

.nav-fixed .navbar-collapse .nav-link:hover {
    color: #3f3a64 !important;
    opacity: 0.7;
}
.dark .nav-fixed .navbar-collapse .nav-link {
    color: #eee !important;
    opacity: 0.7;
}

.dark .nav-fixed .navbar-collapse .nav-link:hover {
    color: #eee !important;
    opacity: 0.7;
}

.nav-fixed .navbar-collapse .nav-link.active {
    color: #009f4d !important;
    opacity: 1;
}

/* dropdown-menu */
.dropdown-menu{
    background-color: white !important;
}
.dark .dropdown-menu{
    background-color: #151421 !important;
    border: 1px solid rgba(255,255,255,.1);
}
.nav-item .dropdown-menu {
    left: -50%;
    border-radius: 10px;

}

.nav-item .dropdown-menu a {
    font-weight: 600;
    color: #3f3a64;
    opacity: 0.7 !important;
}
.dark .nav-item .dropdown-menu a {
    color: #ffffff;
}

.nav-fixed .nav-item .dropdown-menu a {
    font-weight: 600;
    color: #3f3a64;
    opacity: 0.7 !important;
}
.nav-fixed .nav-item .dropdown-menu a:hover {
    font-weight: 600;
    color: #3f3a64;
    opacity: 1 !important;
}

.dark .nav-fixed .nav-item .dropdown-menu a {
    color: #eee;
    opacity: 0.7 !important;
}
.dark .nav-fixed .nav-item .dropdown-menu a:hover {
    color: #ffffff !important;
    opacity: 1 !important;
}

.dropdown-menu a:hover {
    background-color: transparent;
    color: #3f3a64 !important;
    opacity: 1 !important;
}
.dark .dropdown-menu a:hover {

    color: #ffffff !important;
    opacity: 1 !important;
}

.dropdown-toggle::after {
    display: inline-block;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    color: white;
    border: none;
    opacity: 0.7 !important;
    margin-left: 0;
    vertical-align: 0;
}

.nav-fixed .dropdown-toggle::after {
    color: #3f3a64;
    opacity: 0.7;
}
.dark .nav-fixed .dropdown-toggle::after {
    color: #eee;
    opacity: 0.7;
}

.nav-fixed .dropdown-menu::after {
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);

}

.dropdown-menu::after {
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    transform: translateX(0%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 50%;
    transition: all 0.5s;
}

.dark .dropdown-menu::after {
    background: #151421; 
    border-left: 1px solid rgba(255, 255, 255, .25);
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.dark .nav-fixed .dropdown-menu::after {
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);

}

@media screen and (max-width: 768px) {
    .dropdown-menu::after {
        top: 20%;
        left: 50%;
    }
}

/* Search */
.control {
    cursor: pointer;
}

.header__search .search__icon {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);

}

.header__search .search__icon i {
    color: #fff;
    font-size: 1rem !important;

}

.search-active .control .search__icon {
    transform: scale(70);

}

.control .icon {
    color: #FFF;
    transition: opacity 0.3s ease-in-out;
}

.search-active .control .icon {
    opacity: 0;
}

.search-active {
    overflow: hidden;
}

body.search-active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
    z-index: 200;
}

.header__search .icon-close {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.search-input {
    position: absolute;
    left: 0;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 100%;

}


.search-input input {
    color: #fff !important;
    font-size: 50px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
}

@media only screen and (max-width: 991px) {
    .search-input input {
        position: absolute;
        right: -50%;
        width: initial;
        font-size: 40px;
    }
}

@media only screen and (max-width: 736px) {
    .search-input input {
        position: absolute;
        right: -80px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 568px) {
    .search-input input {
        position: absolute;
        font-size: 40px;
        right: -100px;
    }
}

@media only screen and (max-width: 415px) {
    .search-input input {
        position: absolute;
        right: -90px;
        font-size: 40px;
    }
}

::placeholder {
    color: white;
}

body.search-active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

body.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

/* moon/sun */

header .header__dark {
    z-index: 100;
}

.moon__icon {
    display: block;
}

#switchButton .fa-sun {
    display: none;
    font-size: 1.5rem;
}

#switchButton .fa-moon {
    display: block;
    color: #eee;
    font-size: 1.5rem;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.nav-fixed #switchButton .fa-moon {
    color: #3f3a64;
}

.dark #switchButton .fa-moon {
    display: none;
}

/* Carousel */

.carousel {
    position: relative;
}

.carousel .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .overlay {
    background-color: #1d2a37b3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dark .carousel .overlay {
    background-color: #1d2a37d2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel .container {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .carousel-caption {
    top: 30%;
    text-align: left;
}

.carousel .carousel-caption h3 {
    font-size: 4rem;
    font-weight: 600;
    max-width: 800px;
}

@media screen and (max-width: 768px) {
    .carousel .carousel-caption h3 {
        font-size: 2rem;
    }

    .carousel .carousel-item {
        height: 500px !important;
    }
}

.carousel .carousel-caption p {
    max-width: 500px;
}

.carousel .carousel-caption button {
    padding: 12px 40px;
}

.carousel .carousel-item {
    height: 800px;
    background-size: cover;
    background-position: center;

}

.carousel .carousel-item:nth-last-child(1) {
    background-image: url(../img/b1.jpg);
}

.carousel .carousel-item:nth-last-child(2) {
    background-image: url(../img/b2.jpg);
}

.carousel .carousel-item:nth-last-child(3) {
    background-image: url(../img/b3.jpg);
}

.carousel .carousel-item:nth-last-child(4) {
    background-image: url(../img/b4.jpg);
}

.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

.shape path {
    fill: white;
}

.dark .shape path {
    fill: #151421;
}

.carousel-control-prev {
    opacity: 1;
    left: auto;
    right: 70px;
    z-index: 100;

}

.carousel-control-next {
    opacity: 1;
    right: 0 !important;
    z-index: 100;

}

.carousel .arrow {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: white !important;
    opacity: 1 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    border-radius: 50%;
    color: #3f3a64;
}
.dark .carousel .arrow {
    
    background-color: #151421 !important;
    opacity: 1 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.carousel .fa-arrow-right {
    bottom: 20px;

}

.carousel .fa-arrow-left {
    bottom: 20px;

}

/* ---About--------------- */
#about {
    padding: 3rem 0;
}
.dark #about {
    background-color: #151421;
}

#about .title__content {
    padding-top: 30px;
}

.title__content span {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #7e7d7d;
}

.title__content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #3f3a64;
    line-height: 3rem;
}
.dark .title__content h3 {
    color: #ffffff;
}

.title__content p {
    font-size: 1.2rem;
    color: #7e7d7d;
}

.title__content ul {
    list-style: none;
}

.title__content ul li {
    padding: 10px 0;
}

.title__content li a {
    text-decoration: none;
    color: #3f3a64;
    font-size: 1.2rem;
    font-weight: 600;
}
.dark .title__content li a {
    color: #ffffff;
}

.title__content li i {
    color: #009f4d;
    margin-right: 10px;
}

#about .about__image img {
    width: 100%;
    border-radius: 10px;
}

.about__image .img2 {
    padding-top: 30px;
}

.about__image .img2 img:nth-child(1) {
    margin-bottom: 30px;
}

/* ---challenges--------- */
#challenges {
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.dark #challenges {
    padding: 3rem 0;
    background-color: #100f19;
}

#challenges .title__content {
    margin-top: 60px;
}

#challenges button {
    padding: 12px 40px;
    margin-top: 30px;
}

#challenges .card {
    text-align: center;
    padding: 30px 0;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: all 0.5s;
}
.dark #challenges .card {
   
    background-color: #151421;
    transition: all 0.5s;
    
}

#challenges .card:hover {
    transform: translateY(-5px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

#challenges .card-body {
    padding: 0;
}

#challenges .card-body h4 {
    padding-top: 20px;
    margin-bottom: 0;
}

#challenges .card-body a {
    text-decoration: none;
    color: #3f3a64;
    font-weight: 600;
    transition: all 0.5s;
}
.dark #challenges .card-body a {
    color: #ffffff;
}

#challenges .card-body a:hover {
    color: #009f4d;
}

#challenges img {
    width: 30%;
    margin: 0 auto;
}

/* ---Services----------- */
#services {
    padding: 6rem 0;
    text-align: center;
}
.dark #services {
    background-color: #151421;
}

#services .row {
    justify-content: center;
}
.dark #services .card{
    background-color: #151421;
}
#services .card img {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#services h3 {
    padding: 1rem 0;
    color: #3f3a64;
    font-weight: 600;
    font-size: 2rem;
}
.dark #services h3 {
    color: #ffffff;

}

.card-body {
    padding: 0 1.5rem;
}

#services .card {
    border: none;
}

#services .card h4 {
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 25px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    border-radius: 10px;
    transform: translateY(-50%);
    text-align: center;
    margin-block: 0 !important;

}
.dark #services .card h4 {
    background-color: #151421;
    border: 1px solid rgba(255, 255, 255, .2);

}

@media only screen and (max-width: 991px) {
    #services .card h4 {
        font-size: 1.2rem;
    }
}

#services .card p {
    color: #7e7d7d;
    transition: all 0.5s;

}

#services .card a {
    text-decoration: none;
    color: #3f3a64;
    font-weight: 600;
}
.dark #services .card a {
    color: #ffffff;
}

#services .card:hover a {
    color: #009f4d;
}
  /* gallery */

#gallery {
    background-color: #f8f9fa;
    padding: 3rem 0;
}
.dark #gallery {
    background-color: #100f19;
}

#gallery .container {
    text-align: center;
}

#gallery .gallery__content {
    border-bottom: 1px solid #eee;
}
.dark #gallery .gallery__content {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

#gallery .zoom img {
    width: 100%;
    transition: 0.3s ease-in-out;
    display: block !important;
}

#gallery .zoom:hover img {
    transform: scale(1.1);

}

#gallery .zoom {
    overflow: hidden;
    position: relative;
    display: block !important;
    margin-bottom: 30px;
}

#gallery .overlay {
    background-color: #1d2a37b3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#gallery .zoom:hover .overlay {
    background-color: #1d2a37b3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

#gallery .text__gallery {
    position: absolute;
    bottom: -30px;
    left: 30px;
    text-align: left;
    right: 10px;
    opacity: 0;
}

#gallery .zoom:hover .text__gallery {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    right: 10px;
    opacity: 1;
    transition: all 0.5s;
}

#gallery .text__gallery h4 {
    margin-bottom: 0rem;
    color: #fff;
}

#gallery .text__gallery p {
    margin-bottom: 0rem;
    color: #FFF;
}

#gallery .brand {
    padding: 10px;
    justify-content: center;
}

#gallery .brand img {
    width: 100%;
}
/* ---solutions-------- */

#solutions {
    padding: 3rem 0;
}
.dark #solutions {
    background-color: #151421;
}

#solutions img {
    width: 100%;
    border-radius: 10px;
}

#solutions .progress__content {
    position: relative;
    margin-bottom: 30px;
    color: #3f3a64;
}
#solutions .progress__content span {
    color: #3f3a64;
}
.dark #solutions .progress__content {
    color: #ffffff;
}
.dark #solutions .progress__content span {
    color: #ffffff;
}

#solutions .progress__content .location1 {
    left: 80%;
    top: 10%;
    position: absolute;
}

#solutions .progress__content .location2 {
    left: 95%;
    top: 10%;
    position: absolute;
}

#solutions .progress__content .location3 {
    left: 60%;
    top: 10%;
    position: absolute;
}

#solutions .progress__content .location4 {
    left: 90%;
    top: 10%;
    position: absolute;
}

#solutions .gradient1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

#solutions .gradient2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

#solutions .gradient3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

#solutions .gradient4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

#solutions .progress {
    height: 5px;

}

#solutions .progress-bar {
    height: 5px;
}

.progress .gradient1::before,
.progress .gradient2::before,
.progress .gradient3::before,
.progress .gradient4::before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.progress .gradient1::after,
.progress .gradient2::after,
.progress .gradient3::after,
.progress .gradient4::after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: white;
}

.progress .gradient1::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    right: 20%;
    top: 95%;
    transform: translate(50%, -50%);

}

.progress .gradient1::after {
    content: "";
    position: absolute;
    right: 20%;
    top: 95%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.progress .gradient2::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    right: 5%;
    top: 95%;
    transform: translate(50%, -50%);

}

.progress .gradient2::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 95%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.progress .gradient3::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    right: 40%;
    top: 95%;
    transform: translate(50%, -50%);

}

.progress .gradient3::after {
    content: "";
    position: absolute;
    right: 40%;
    top: 95%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.progress .gradient4::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    right: 15%;
    top: 95%;
    transform: translate(50%, -50%);

}

.progress .gradient4::after {
    content: "";
    position: absolute;
    right: 15%;
    top: 95%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

/* feedback */

#feedback {
    background-color: #f8f9fa;
    padding: 3rem 0;
    text-align: center;
}
.dark #feedback {
    background-color: #100f19;
}

#feedback .title__content h3 {
    padding-bottom: 50px;
}

#feedback .feedback__content {
    display: flex;
    justify-content: center;
    align-items: center;

}

#feedback .image__feedback {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;

}

#feedback .image__content {
    margin-left: 20px;

}

#feedback .image__content h6 {
    font-size: 18px;
    font-weight: 600;
    color: #3f3a64;
}
.dark #feedback .image__content h6 {
    
    color: #ffffff;
}

#feedback .image__content p {
    margin-bottom: 0;
}

#feedback .item {
    max-width: 900px;
    margin: 0 auto;
    min-height: 100%;

}

#feedback img {
    width: 100%;
    min-height: 100%;


}

.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot span {
    background: #213364a8;

    transition: all 0.5s;
}

button:focus {
    outline: 0px dotted;
}

.owl-two.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
    background: #213364;
    transform: scale(1.5);
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

/* news */

#news {
    padding: 3rem 0;
}
.dark #news{
    background-color: #151421;
}

#news .title__content {
    text-align: center;
}

#news .title__content h3 {
    padding-bottom: 2rem;
}

#news .card {
    border: 1px solid transparent;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
}
.dark #news .card {
  
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    background-color: #151421;
    border: 1px solid rgba(255, 255, 255, .5);
}

#news .card-img-top {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#news .card-body {
    text-align: left;
    padding: 1rem 1rem;

}

#news .card-text {
    font-size: 1rem;
}

#news .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

#news .card-footer {
    text-align: left;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.5);
}
.dark #news .card-footer {
    background-color: #151421;
  
}
#news .card-footer img{
 border-radius: 50%;
}
#news .card-footer span {
    text-transform: none;
    font-weight: normal;
}

#news .card-body a {
    text-decoration: none;
    color: #213364;
    font-weight: 600;
    transition: all 0.5s;
}
.dark #news .card-body a {
   
    color: #ffffff;
  
}

#news .card-body a:hover {
    color: #009f4d;
}

#news .card-footer a {
    text-decoration: none;
    color: #213364;
    font-weight: 600;
    transition: all 0.5s;
}
.dark #news .card-footer a {

    color: #ffffff;
   
}

#news .card-footer a:hover {
    color: #009f4d;
}

#news .card-footer .date-card {
    text-transform: none;
    font-weight: 600;
    text-align: right;
}

#news .zoom img {
    width: 100%;
    transition: 0.3s ease-in-out;

}

#news .zoom:hover img {
    transform: scale(1.1);

}

#news .zoom {
    overflow: hidden;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;

}

/* ---Subscribe------ */

#subscribe {
    background-color: #151421;
    background-image: url(../img/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 0;
}

#subscribe .title__content {
    max-width: 700px;
    text-align: center;

}

#subscribe .title__content h3 {
    color: white;
}

#subscribe .form-group {
    display: flex;
    padding: 2rem 0;

}

.subscribe__icon {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    width: 70px;
    height: 50px;
    line-height: 50px;

}

#subscribe input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-radius: 0px;
    border-left: 0px !important;
    border-right: 0px !important;
    height: 50px;

}

#subscribe button {
    border-radius: 0.25rem;
    border-left: 0px !important;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    width: 150px;
}

#subscribe .form-control:focus {
    box-shadow: none;
}

#subscribe button.active {

    box-shadow: none;
}

#subscribe button:focus {

    box-shadow: none;
}

#subscribe .btn-success:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

/* ---footer-------- */

footer {
    background-color: #151421;
}

#footer__content {
    padding: 3rem 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    border-bottom: 1px solid rgba(249, 249, 249, 0.1);
    
}

footer .logo span {
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.5s;
    color: white;
}

footer .logo i {
    font-size: 1.5rem;
    color: #009f4d;
}

footer .logo .title__logo {
    font-size: 1rem;
    display: block;
    font-weight: 400;
    padding-left: 2.5rem;
    padding-bottom: 1rem;

}

footer h4 {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
}

footer p {
    color: #97a1a9;
}

footer a {
    color: #97a1a9;
    text-decoration: none;
    padding-right: 5px;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer li {
    list-style: none;
    padding-bottom: 10px;
}

footer .copy-right {
    text-align: center;
    padding: 30px 0;
}

footer .copy-right a {
    color: #009f4d;
}

footer .copy-right a:hover {
    color: white;
}

footer .back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #009f4d;
    text-align: center;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;

}

footer .back-to-top a {
    padding: 0;
    color: white;
}

.cd-top--is-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.cd-top--fade-out {
    opacity: 1 !important;
}

